# Introduction to Pandas Lab

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [30]:
import pandas as pd
import numpy as np

### 2. Create a Pandas Series containing the elements of the list below.

In [31]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [32]:
df = pd.Series(lst)

### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [33]:
df[2]

74.4

### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [34]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [35]:
df2 = pd.DataFrame(b)

### 5. Rename the data frame columns based on the names in the list below.

In [36]:
colnames = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']

In [37]:
df2.columns = colnames

### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [38]:
df2_subset = df2[["Score_1", "Score_3", "Score_5"]]

### 7. From the original data frame, calculate the average Score_3 value.

In [39]:
df2["Score_3"].mean()

56.95000000000001

### 8. From the original data frame, calculate the maximum Score_4 value.

In [40]:
df2["Score_4"].max()

88.8

### 9. From the original data frame, calculate the median Score 2 value.

In [41]:
df2["Score_2"].median()

40.75

### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [42]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [43]:
df3 = pd.DataFrame(orders)

### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [44]:
df3["Quantity"].sum()

2978

### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [45]:
most_expensive = df3["UnitPrice"].max()
less_expensive = df3["UnitPrice"].min()
difference = most_expensive - less_expensive
print(difference)

11.77